name: Scheduled Demo Pipeline

on:
  schedule:
    
  workflow_dispatch:

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print message
        run: |
          echo "Hello from GitHub Actions!"
          date

